[Unit]
Description=Mocker for the CoreService, which automatically rotates through states.

[Service]
Restart=on-failure
ExecStart=/usr/bin/node /usr/libexec/coffee-app/auto_coreservice_mock.js
RestartSec=5

[Install]
WantedBy=multi-user.target
