[Unit]
Description=coffee-app, presenting the slint.ui
After=weston.service coffee-app-mock.service
Requires=weston.service coffee-app-mock.service

[Service]
Restart=on-failure
Environment=XDG_RUNTIME_DIR=/run/user/0 WAYLAND_DISPLAY=/run/wayland-0 SLINT_FULLSCREEN=1
ExecStart=/usr/bin/coffee-app
RestartSec=5

[Install]
WantedBy=multi-user.target
